@charset "UTF-8";

@font-face {
    font-family: 'Pixel';
    src: url(./font/PKMN\ RBYGSC.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    background-color: darkgray;
    width: 100%;
    height: 100%;
    font-family: 'Pixel';
    font-size: 0.83em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.pokedex {
    height: auto;
    width: 800px;
    position: relative;
}

.searchForm input[type=text] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -195%);
    -ms-transform: translate(-50%, -50%);
    width: 235px;
    height: 20px;
    background: none;
    border: none;
}

.searchForm .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-260%, -128%);
    -ms-transform: translate(-50%, -50%);
    background-color: #008AEE;
    width: 38px;
    height: 38px;
    border: none;
    box-shadow: inset -3px -3px 0px 3px #09568D;
    cursor: pointer;
    border-radius: 50%;
}

.searchForm .btn:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-260%, -128%);
    -ms-transform: translate(-50%, -50%);
    background-color: #0064ac;
    width: 38px;
    height: 38px;
    border: none;
    box-shadow: inset -3px -3px 0px 3px #06395e;
    cursor: pointer;
    border-radius: 50%;
}

#contPokemon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(33%, 330%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0F5E7;
    color: gray;
    width: 250px;
    height: 50px;
    line-height: 1.6;
    letter-spacing: 1px;
}

#imgPokemon .normal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(82%, -40%);
    -ms-transform: translate(-50%, -50%);
    width: 160px;
}

.btnShiny {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(424%, 489%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FF0025;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.btnShiny:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(424%, 489%);
    -ms-transform: translate(-50%, -50%);
    background-color: #a70019;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.type1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(450%, -300%);
    -ms-transform: translate(-50%, -50%);
    width: 20px;
}

.type2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(450%, -160%);
    -ms-transform: translate(-50%, -50%);
    width: 20px;
}

@media screen and (max-width: 799px) {
    .pokedex {
        height: auto;
        width: 400px;
        position: relative;
        content: url(images/background/pokedexPhone.png);
    }
    
    .searchForm input[type=text] {
        transform: translate(-70%, -465%);
        width: 225px;
    }

    .searchForm .btn {
        transform: translate(219%, -268%);
    }

    .searchForm .btn:hover {
        transform: translate(219%, -268%);
    }

    #contPokemon {
        transform: translate(-60%, 387%);
    }

    #imgPokemon .normal {
        transform: translate(-65%, -20%);
    }

    .btnShiny {
        transform: translate(-634.1%, 606%);
    }

    .btnShiny:hover {
        transform: translate(-634.1%, 606%);
    }

    .type1 {
        transform: translate(-710%, -120%);
        width: 20px;
    }
    
    .type2 {
        transform: translate(-710%, 20%);
        width: 20px;
    }
}